<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Text Classification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Current text area -->
  <ion-item>
    <ion-label position="stacked">Text Classification input</ion-label>
    <ion-textarea
      placeholder="Type here to classify your text!">
    </ion-textarea>
  </ion-item>

  <!-- Submit button -->
  <ion-button expand="block">
    Submit
  </ion-button>

  <ion-item-divider></ion-item-divider>

  <!-- History title -->
  <ion-item>
    <h1>
      Previous submissions
    </h1>
  </ion-item>

  <!-- History -->
  <ion-card *ngFor="let submission of history">
    <ion-card-header>
      <ion-card-title>{{submission.text}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block">
        Re-submit
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
